@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List";
}

@using Shop.Models

@model IEnumerable<Chair>

<p class="nav-item"><a asp-action="Edit" asp-controller="Chair" class="nav-link">Добавить новый стул</a></p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @{
            foreach (var item in Model)
            {

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="@item.Img" alt="@item.Name" width="225" height="225" class="class="bd-placeholder-img card-img-top"">
                        <div class="card-body">
                            <p class="card-text">
                            <p><h4> @item.Name </h4> <p />
                            <p><h6>@item.Category.Name</h6></p>
                            <p>@item.Desc</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @*<button type="button" class="btn btn-sm btn-outline-secondary">View</button>*@
                                    <a asp-action="Edit" asp-controller="Chair" asp-route-id="@item.Id">Изменить</a>
                                </div>
                                <small class="text-muted">@item.Price rub</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
